wikipedia-api>=0.3.5
mwparserfromhell>=0.5.7
tqdm>=4.65.0
transformers>=4.30.0
datasets>=2.14.5
evaluate>=0.4.1
sentence-transformers>=2.2.0
faiss-cpu>=1.7.0
torch>=2.0.0
numpy>=1.24.0
pandas>=2.0.0
matplotlib>=3.7.1
